.search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
 // min-height: 57px;
  border-radius: 5px;
  background-color: #fff;

  &__sortBy {
    height: 100%;
    display: flex;
    max-width: 245px;
    margin: 0 20px;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  &__titelSort {
    font-family: $mr;
    font-size: 11px;
    color: #a1a8bd;
    text-transform: uppercase;
  }

  &__typeSort {
    height: 100%;
    // background-color: orange;
    min-width: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-left: auto;
  }

  &__valueSort {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
  }

  &__icon {
    width: 11px;
    height: 11px;
    background: url("/img/imgmenu.png") no-repeat center;
    margin-left: 5px;
  }

  &__paramasSort {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -120px;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 300ms linear;
    background-color: #a8e3ee;
    border-radius: 7px;
    opacity: 0;
    z-index: 200;

    &::before {
      position: absolute;
      content: "";
      display: block;
      border-bottom: 10px solid#a8e3ee;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      top: -9px;
      right: 25px;
    }
  }

  &__typeSort:hover>&__paramasSort {
    opacity: 1;
    display: flex;
    transform: scaleY(1);
    // transform: sc;
  }

  &__li {
    display: flex;
    min-width: 120px;
    margin: 10px 0 10px 0;
    padding-left: 20px;
    list-style: none;
    font-family: $mr;
    font-size: 12px;
    color: #343e5c;
    @include hovAct();
  }

  &__KAP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 700px;
    flex-wrap: wrap;
    padding: 11px 0;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    box-sizing: border-box;
  }

  &__labelKeywords {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__keywords {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
  }

  &__inpK {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #e3e8f0;
    background-color: #f0f2f7;
    margin-left: 11px;
    padding: 0 12px;
    box-sizing: border-box;
    font-family: $mr;
    font-size: 13px;
    color: #b9bfd3;
    outline: none;

    @include placeholder() {
      font-family: $mr;
      font-size: 13px;
      color: #b9bfd3;
    }
  }

  &__labelPrice {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__titelprice {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
    // margin-left: 30px;
    margin-right: 13px;
  }

  &__price {
    width: 62px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #e3e8f0;
    background-color: #f0f2f7;
    padding: 0 12px;
    box-sizing: border-box;
    font-family: $mr;
    font-size: 13px;
    color: #b9bfd3;
    outline: none;

    @include placeholder() {
      font-family: $mr;
      font-size: 13px;
      color: #343e5c;
    }
  }

  &__def {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
    margin: 0 5px;
  }

  &__lebelcheck {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-right: 20px;
  }

  &__check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00e2aa;
    display: none;
  }

  &__check:checked+&__titelCheck {
    &::before {
      content: "\2714";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -2px;
      left: -24px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #00e2aa;
      color: white;
    }
  }

  &__titelCheck {
    display: flex;
    // margin-left: 60px;
    position: relative;
    font-family: $mr;
    font-size: 13px;
    color: #343e5c;

    &::before {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -2px;
      left: -24px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #00e2aa;
      color: white;
    }
  }

  &__ship {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
  }

  &__titelShip {
    font-family: $mr;
    font-size: 11px;
    color: #a1a8bd;
    text-transform: uppercase;
  }

  &__contShips {
    height: 100%;
    min-width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-left: auto;
  }

  &__areaship {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
  }

  &__listAreasShips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -120px;
    left: -54px;
    // background-color: rgb(255, 255, 255);
    z-index: 800;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 300ms linear;
    background-color: #a8e3ee;
    border-radius: 7px;
    opacity: 0;

    &::before {
      position: absolute;
      content: "";
      display: block;
      border-bottom: 10px solid #a8e3ee;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      top: -9px;
      right: 25px;
    }
  }

  &__contShips:hover>&__listAreasShips {
    opacity: 1;
    display: flex;
    transform: scaleY(1);
  }

  &__liships {
    display: flex;
    min-width: 120px;
    margin: 10px 0 10px 0;
    padding-left: 20px;
    list-style: none;
    font-family: $mr;
    font-size: 12px;
    color: #343e5c;
    @include hovAct();
  }
}