.menuBottom {
  max-width: 100%;
  @include row-flex();
  margin: 90px 0 0 0;

  @include lg-block() {
    padding: 0 20px;
  }

  padding: 0 116px * 100% / 1400px;
  min-height: 56px;
  align-items: center;
  border-left: 1px solid $colBor;
  border-right: 1px solid $colBor;
  box-sizing: border-box;
  margin: 90px 0 0 0;

  &__contFirts {
    display: flex;
    min-width: 486px;
    align-items: center;
    justify-content: space-between;
  }

  &__a,
  &__suppots {
    text-decoration: none;
    text-transform: uppercase;
    @include hovAct();
    font-size: 1em;
    font-family: $mr;
    color: #343e5c;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__search {
    display: flex;
    margin-left: auto;
    min-width: 300px;
    align-items: center;
    justify-content: space-between;
  }

  &__searchSvg {
    margin-top: 1px;
    @include hovAct();
  }

  &__button {
    border: none;
    outline: none;
    background-color: white;
  }

  &__input {
    border: none;
    font-size: 14px;
    padding: 5px;
    outline: none;
    width: 130px;

    @include placeholder {
      font-size: 14px;
      font-family: $mr;
    }
  }

  @include to(850px) {
    padding: 5px 20px;
    &__search {
      min-width: 100%;
      order: 1;
      flex-direction: column;
      margin: 0;
    }
    &__form {
      order: 1;
      min-width: 100%;
      justify-content: center;
      min-height: 30px;
      border: 1px solid $colBor;
      margin: 0;
    }
    &__suppots,
    &__a {
      width: 100%;
      display: flex;
      order: 2;
      min-height: 30px;
      border: 1px solid $colBor;
      margin-top: 2px;
      align-items: center;
      justify-content: center;
      color: #343e5c;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.1px;
      &:hover {
          color: #343e5c;
      }
      &:active {
         background-color: $colgre;
      }
    }

    &__contFirts {
      min-width: 100%;
      box-sizing: border-box;
      order: 2;
      flex-direction: column;
      margin: 0 auto;
    }
  }
}
