.slider {
  display: flex;
  min-height: 500px;
  position: relative;
  @include to(850px) {
      display: none;
  }
}

.next {
  position: absolute;
  right: 10%;
  @include to(1350px) {
    right: 80px;
  }
  @include to(1050px) {
    display: none;
  }

  top: 48%;
  width: 42px;
  height: 42px;
  border: 2px solid rgb(102, 100, 100);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;

  &:hover .nextSvg {
    fill: orangered;
  }

  &:active .nextSvg {
    fill: yellow;
  }
}

.nextSvg {
  fill: #fff;
  z-index: 250;
}

.pagination {
  display: flex;
  position: absolute;
  bottom: 30px;
  @include to(1350px) {
    bottom: 15px;
  }
  left: 45%;
}

.check {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid $colBor;
  z-index: 250;
  margin: 0 10px;

  &:hover {
    border: 2px solid $colBlue;
  }

  &:active {
    border: 2px solid $colAct;
  }
}

.checkActiv {
  background-color: $colBor;
}

div[data-id="1"] {
  background-color: #1c1e23;
}

div[data-id="2"] {
  background-color: #1c1e23;
}

div[data-id="3"] {
  background-color: #1c1e23;
}

div[data-id="4"] {
  background-color: #1c1e23;
}

.bunner {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  min-height: 500px;
  /*   background: url("/img/Placeholder.png") no-repeat center;
    background-size: cover; */
  transform: translateX(100%);
  transition: opacity 600ms linear, transform 10ms linear 600ms;

  &__contContent {
    margin-top: 97px * 100%/1400px;
    margin-left: 216px * 100%/1400px;
    @include to(1350px) {
      margin-top: 120px * 100%/1400px;
      margin-left: 200px * 100%/1400px;
    }
    @include to(1050px) {
      margin-top: 150px * 100%/1400px;
      margin-left: 100px;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__h2 {
    margin: 0;
    max-width: 340px;
    display: flex;
    justify-content: flex-start;
    font-family: $mblack;
    color: #fff;
    font-size: 42px;
  }

  &__p {
    margin: 32px 0 0 0;
    max-width: 415px;
    display: flex;
    justify-content: flex-start;
    font-family: $ctr;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }

  &__button {
    margin: 63px 0 0 0;
    display: flex;
    min-width: 84px;
    min-height: 30px;
    border-radius: 15px;
    border: 2px solid #2754eb;
    font-size: 11px;
    font-family: $mr;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #2754eb;
    outline: none;
    color: #fff;

    &:hover {
      background-color: #7490ec;
      border: 2px solid #7490ec;
    }

    &:active {
      background-color: #030c29;
      border: 2px solid #030c29;
    }
  }

  &__imgProduct {
    margin: 10px 20% 10px auto;
  }
  @include to(1350px) {
    &__imgProduct {
      margin: auto 200px auto auto;
      width: 250px;
    }
  }
  @include to(1050px) {
    &__imgProduct {
      margin: auto 100px auto auto;
      width: 250px;
    }
  }
}

.bunnerActiv {
  opacity: 1;
  z-index: 200;
  transform: translateX(0);
  transition: transform 600ms linear;
}
