@import "fonts";
@import "./../font/fontello/css/allIcon.scss";
@import "myvar";
@import "smart-grid";
@include reset();

$colBor: #e4e8f0;
$colHov: red;
$colAct: rgb(28, 226, 38);
$colgre: #00e2aa;
$colText: #1c1e23;
$colBlue: #2754eb;
$colBlueA: #8199e9;
$widthBoby: 1168px;

@mixin hovAct() {
  &:hover {
    fill: $colBlue;
    color: $colBlue;
  }

  &:active {
    fill: $colAct;
    color: $colAct;
  }
}

@mixin flexCent {
  display: flex;
  align-items: center;
  // justify-content: center;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

body {
  font-family: $mr;
}

.setka {
  @include debug(rgba(240, 193, 241, 0.37), #000);
}

.contener {
  @include wrapper();
  padding: 0;
  margin: 0 auto;
  font-size: 11px;
  position: static;
  overflow: hidden;
  //position: relative;
}

@import "menuTop";
@import "menuBot";
@import "slider";

.main {
  background-color: #e4e5e7;
  padding-bottom: 20px;
}

.bodyShop {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 116px;

  @include to(1380px) {
    padding: 30px 25px;
  }
}

.search {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;

  &__sortBy {
    min-height: 57px;
    display: flex;
    width: 245px;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  &__titelSort {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
  }

  &__typeSort {
    height: 100%;
    min-width: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-left: auto;
  }

  &__valueSort {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
  }

  &__icon {
    width: 11px;
    height: 11px;
    background: url("./../img/imgmenu.png") no-repeat center;
    margin-left: 5px;
  }

  &__paramasSort {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -155px;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 300ms linear;
    background-color: #a8e3ee;
    border-radius: 7px;
    opacity: 0;
    z-index: 200;

    &::before {
      position: absolute;
      content: "";
      display: block;
      border-bottom: 10px solid#a8e3ee;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      top: -9px;
      right: 25px;
    }
  }

  &__paramasSort-active {
    opacity: 1;
    display: flex;
    transform: scaleY(1);
  }

  &__li {
    display: flex;
    min-width: 120px;
    margin: 10px 0 10px 0;
    padding-left: 20px;
    list-style: none;
    font-family: $mr;
    font-size: 12px;
    color: #343e5c;
    @include hovAct();
  }

  &__KAP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 57px;
    width: 680px;
    flex-wrap: wrap;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    box-sizing: border-box;
  }

  &__labelKeywords {
    min-height: 57px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__keywords {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
  }

  &__inpK {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #e3e8f0;
    background-color: #f0f2f7;
    margin-left: 11px;
    padding: 0 12px;
    box-sizing: border-box;
    font-family: $mr;
    font-size: 13px;
    color: #b9bfd3;
    outline: none;

    @include placeholder() {
      font-family: $mr;
      font-size: 13px;
      color: #b9bfd3;
    }
  }

  &__labelPrice {
    width: 220px;
    min-height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__titelprice {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
    margin-right: 13px;
  }

  &__price {
    width: 62px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #e3e8f0;
    background-color: #f0f2f7;
    padding: 0 12px;
    box-sizing: border-box;
    font-family: $mr;
    font-size: 13px;
    color: #b9bfd3;
    outline: none;

    @include placeholder() {
      font-family: $mr;
      font-size: 13px;
      color: #343e5c;
    }
  }

  &__def {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
    margin: 0 5px;
  }

  &__lebelcheck {
    width: 157px;
    min-height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00e2aa;
    display: none;
  }

  &__check:checked+&__titelCheck {
    &::before {
      content: "\2714";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -4px;
      left: -29px;
      width: 20px;
      height: 20px;
      border: 2px solid #00e2aa;
      border-radius: 50%;
      background-color: #00e2aa;
      color: white;
    }
  }

  &__titelCheck {
    display: flex;
    position: relative;
    font-family: $mr;
    font-size: 13px;
    color: #343e5c;

    &::before {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -4px;
      left: -29px;
      width: 20px;
      height: 20px;
      border: 2px solid $colBor;
      border-radius: 50%;
      background-color: white;
      color: white;
    }
  }

  &__ship {
    min-height: 57px;
    display: flex;
    flex-wrap: wrap;
    width: 175px;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
  }

  &__titelShip {
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
  }

  &__contShips {
    height: 100%;
    min-width: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-left: auto;
  }

  &__areaship {
    width: 70px;
    text-align: right;
    font-family: $mr;
    font-size: 11px;
    color: #343e5c;
    text-transform: uppercase;
  }

  &__listAreasShips {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -155px;
    left: -54px;
    z-index: 800;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 300ms linear;
    background-color: #a8e3ee;
    border-radius: 7px;
    opacity: 0;

    &::before {
      position: absolute;
      content: "";
      display: block;
      border-bottom: 10px solid #a8e3ee;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      top: -9px;
      right: 25px;
    }
  }

  &__listAreasShips-active {
    opacity: 1;
    display: flex;
    transform: scaleY(1);
  }

  &__liships {
    display: flex;
    min-width: 120px;
    margin: 10px 0 10px 0;
    padding-left: 20px;
    list-style: none;
    font-family: $mr;
    font-size: 12px;
    color: #343e5c;
    @include hovAct();
  }

  @include to(1280px) {
    &__sotrBy {
      order: 1;
    }

    &__KAP {
      order: 3;
      width: 100%;
      margin: 0;
      border: none;
      border-top: 1px solid $colBor;
      justify-content: flex-start;
    }

    &__ship {
      order: 2;
    }

    &__labelKeywords {
      justify-content: flex-start;
      margin-left: 20px;
    }
  }

  @include to(850px) {
    &__sortBy {
      width: 100%;
      margin: 0;
      justify-content: flex-start;
    }

    &__typeSort {
      margin-left: 20px;
    }

    &__ship {
      border-top: 1px solid $colBor;
      width: 100%;
      margin: 0;
      padding: 0 20px;
      justify-content: flex-start;
    }

    &__contShips {
      margin-left: 55px;
    }

    &__labelKeywords,
    &__labelPrice,
    &__lebelcheck {
      border-bottom: 1px solid $colBor;
      width: 100%;
      margin: 0;
      padding: 0 20px;
      justify-content: flex-start;
    }

    &__titelCheck {
      margin-left: 27px;
    }
  }

  @include to(350px) {
    &__inpK {
      width: 130px;
    }
  }
}

.left {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  box-sizing: border-box;
  margin-top: 30px;
  flex-direction: column;
}

@include to(700px) {
  .left {
    width: 100%;
  }
}

.first {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}

.firstLi {
  padding: 0 20px;
  list-style: none;
  min-height: 42px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $mr;
  font-size: 13px;
  color: #343e5c;
  position: relative;

  &::after {
    content: "";
    display: flex;
    width: 6px;
    height: 10px;
    background: url("./../img/Open\ Icon.png") no-repeat center;
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  &:hover {
    background-color: #a8e3ee;
  }
}

.test {
  display: flex;
  height: 20px;
  width: 30%;
  margin: 10px;
  background-color: green;
}

.firstLi:not(:last-child) {
  border-bottom: 1px solid $colBor;
}

.availableAndBrand {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;

  &__inputInstorage,
  &__inputCheck {
    display: none;
  }

  &__inputInstorage:checked~&__inStorage>&__contIcon {
    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: auto;
      background-color: $colgre;
    }
  }

  &__inputCheck:checked~&__nameCheck>&__contIconB {
    background-image: url("./../img/Check\ Icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-color: $colgre;
    border: 2px solid $colgre;
  }

  &__contIcon {
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $colBor;
    margin-right: 15px;
  }

  &__contIconB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid $colBor;
    margin-right: 15px;
  }

  &__inStorage,
  &__nameCheck {
    align-items: center;
    display: flex;
    position: relative;
  }

  &__count,
  &__abrands,
  &__quentlyBrands {
    margin-left: auto;
    font-family: $mr;
    font-size: 11px;
    color: #c1c7d8;
  }

  &__abrands {
    color: #2754eb;
    text-transform: uppercase;
  }

  &__li {
    display: flex;
    padding: 0 20px;
    min-height: 42px;
    align-items: center;
    font-family: $mr;
    font-size: 13px;
    color: #343e5c;
  }

  &__li:nth-child(1),
  &__li:nth-child(3),
  &__li:nth-child(4) {
    border-bottom: 1px solid $colBor;
  }

  &__li:last-child {
    margin-bottom: 10px;
  }

  &__inputCheck {
    width: 20px;
    height: 20px;
    background-color: $colgre;

    &:checked {
      @include placeholder() {
        background-color: $colgre;
      }
    }
  }
}

.condition {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;

  &__li {
    @include flexCent();
    padding: 0 20px 0 17px;
    color: #343e5c;
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    list-style-type: none;
  }

  &__li:first-child {
    min-height: 48px;
    border-bottom: 1px solid $colBor;
  }

  &__li:nth-child(2) {
    margin-top: 10px;
  }

  &__li:nth-child(6) {
    margin-bottom: 10px;
  }

  &__brands {
    color: #343e5c;
    text-transform: uppercase;
  }

  &__abrands {
    color: #2754eb;
    text-transform: uppercase;
    margin-left: auto;
  }

  &__nameCheck {
    @include flexCent();
  }

  &__inputCheck {
    display: none;
  }

  &__inputCheck:checked~&__nameCheck>&__contIconB {
    background-image: url("./../img/Check\ Icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-color: $colgre;
    border: 2px solid $colgre;
  }

  &__contIconB {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid $colBor;
    margin-right: 15px;
  }
}

.deliveryOptions {
  width: 100%;
  display: flex;
  // flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
  flex-wrap: wrap;

  &__name {
    width: 100%;
    @include flexCent();
    padding: 0 20px;
    min-height: 48px;
    color: #343e5c;
    text-transform: uppercase;
    border-bottom: 1px solid $colBor;
  }

  &__contCheck {
    @include flexCent();
    width: 50%;
    min-height: 47px;
    box-sizing: border-box;
    color: #343e5c;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  &__contCheck:last-child {
    border-left: 1px solid $colBor;
  }

  &__input {
    display: none;
  }

  &__label {
    @include flexCent();
  }

  &__contIcon {
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid $colBor;
    margin-right: 15px;
  }

  &__input:checked~&__label>&__contIcon {
    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: auto;
      background-color: $colgre;
    }
  }
}

.productsPage {
  width: calc(100% - 300px);
  display: flex;
  margin: 30px 0 0 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@include to(700px) {
  .productsPage {
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
  }
}

.contItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 29%;
  background-color: #fff;
  padding: 35px 10px 44px 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  &__name,
  &__price {
    display: flex;
    width: 60%;
    text-align: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    flex-wrap: wrap;
    color: $colText;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &__price {
    margin-top: auto;
  }

  &__button {
    margin: 10px 0 0 0;
    display: flex;
    min-width: 84px;
    min-height: 30px;
    border-radius: 15px;
    border: 2px solid #2754eb;
    font-size: 11px;
    font-family: $mr;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #2754eb;
    outline: none;
    color: #fff;

    &:hover {
      background-color: #1b2958;
      border: 2px solid #1b2958;
    }

    &:active {
      background-color: #01071a;
      border: 2px solid #01071a;
    }
  }
}

@include to(1260px) {
  .contItem {
    width: 46%;
    // margin: 1%;
  }
}

@include to(900px) {
  .contItem {
    width: 100%;
  }
}

@include to(700px) {
  .contItem {
    width: 45%;
    margin: 0;
    margin-bottom: 10px;
  }
}

@include to(600px) {
  .contItem {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

.navPagination {
  margin-top: 25px;
  display: flex;
  width: 100%;
}

.paginationn {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.page-item:first-child,
.page-item:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px * 100% / $widthBoby;
  min-height: 90px;
}

.page-item:first-child>button,
.page-item:last-child>button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
  border-left: 1px solid $colBor;

  &:hover {
    background-color: rgb(190, 190, 216);
  }

  &:active>button>img {
    transform: scale(1.2);
  }
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid $colBor;

  &:hover {
    background-color: rgb(190, 190, 216);
  }

  &:active>button>img {
    transform: scale(1.2);
  }
}

.page-item:not(:first-child):not(:last-child) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  min-height: 90px;
}

.page-item:not(:first-child):not(:last-child)>button {
  display: flex;
  border: none;
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: #3a405b;
  font-size: 14px;
  font-weight: 400;
  line-height: 52px;
  text-decoration: none;
  transition: transform 200ms;

  &:hover {
    box-shadow: 0 20px 40px rgba(168, 172, 185, 0.62);
    background-color: #ffffff;
    color: #b9bed1;
    font-size: 14px;
    font-weight: 400;
    line-height: 52px;
    z-index: 400;
  }

  &:active {
    transform: scale(0.9);
  }
}

.page-item:nth-child(2) {
  margin-left: auto;
}

.page-item:nth-last-child(2) {
  margin-right: auto;
}

@include to(700px) {

  li.page-item:nth-child(5),
  li.page-item:nth-child(6),
  li.page-item:nth-child(7),
  li.page-item:nth-child(8),
  li.page-item:nth-child(9) {
    display: none !important;
  }

  li.page-item:nth-child(4) {
    margin-right: auto;
  }
}

.bestSellers {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 50px;

  &__titel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 56px;
    border-bottom: 1px solid $colBor;
    color: #343e5c;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    background-color: #fff;
  }

  &__contItems {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    // background-color: #fff;
  }

  &__contItem {
    display: flex;
    flex-direction: column;
    width: 25%;
    @include md(width, 50%);
    align-items: center;
    padding: 28px 10px 35px 10px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #fff;
  }

  @include to(960px) {
    &__contItems {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }

    &__titel {
      border-radius: 5px;
      margin-bottom: 2px;
    }

    &__contItem {
      border-radius: 5px;
      width: 49.6%;
      margin: 0;
      margin-bottom: 10px;
      border: none;
      margin: 2px 0;
    }
  }

  @include to(600px) {
    &__titel {
      border-radius: 5px;
    }

    &__contItem {
      border-radius: 5px;
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
      border: none;
      margin: 5px 0;
    }
  }

  &__contItem:not(:first-child) {
    border-left: 1px solid $colBor;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    flex-wrap: wrap;
    color: #343e5c;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__color {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    flex-wrap: wrap;
    color: #a1a8bd;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-top: auto;
  }

  &__prices {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__old {
    color: #b8bfd3;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
  }

  &__now {
    color: #343e5c;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
  }
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 72px 224px * 100% / 1400px 92px 214px * 100% / 1400px;
  box-sizing: border-box;
  border: 1px solid $colBor;
  align-items: center;

  &__h2 {
    display: flex;
    width: 70%;
    color: #222328;
    font-family: $mblack;
    font-size: 32px;
    font-weight: 400;
    justify-content: center;
    text-align: center;
  }

  &__p {
    display: flex;
    justify-content: center;
    width: 50%;
    color: #b9bed1;
    font-family: "Crimson Text";
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
    text-align: center;
  }

  &__contReviews {
    width: 100%;
    margin-top: 54px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__contReview {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__contImgAndName {
    width: 242px;
    display: flex;
    align-items: flex-start;
  }

  &__nameJob {
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    color: #3a405b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__job {
    color: #b9bed1;
    font-family: "Crimson Text";
    font-size: 14px;
    font-style: italic;
    margin-top: 12px;
  }

  &__text {
    width: 242px;
    margin-top: 24px;
    color: #3a405b;
    font-family: "Crimson Text - Roman";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  @include to(1100px) {
    &__contReviews {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    &__h2 {
      font-size: 22px;
    }

    &__contReview {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    &__contImgAndName {
      width: 100%;
      justify-content: center;
    }

    &__name {
      width: 100px;
    }

    &__text {
      width: 100%;
      margin-top: 10px;
      color: #3a405b;
      font-family: "Crimson Text - Roman";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    }
  }
}

.feedBack {
  padding: 20px;
  border: 1px solid #e4e8f0;
  background-color: #fff;
  display: flex;
  //display: none;
  flex-direction: column;
  align-items: center;

  // box-sizing: content-box;
  &__h2 {
    margin: 10px 0 20px 0;
    font-family: $mblack;
    font-size: 32px;
    color: $colText;
    text-align: center;
  }

  &__form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__contForParams {
    flex-direction: column;
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__lName {
    width: 100px;
    font-size: 20px;
    font-family: $mpr;
    margin-bottom: 2px;
  }

  &__hint {
    display: flex;
    width: 80%;
    text-align-last: left;
    color: rgba(255, 0, 0, 0);
    font-size: 13px;
  }

  &__hint-active {
    color: red;
  }

  &__Input {
    display: flex;
    width: 80%;
    height: 0;
    min-height: 35px;
    padding: 0 10px;
    background-color: rgb(201, 198, 198);
    border-radius: 5px;
    border: 1px solid rgb(179, 178, 178);
    outline: none;
    font-size: 18px;

    &:hover,
    &:focus {
      background-color: $colgre;

      @include placeholder() {
        color: black;
      }
    }
  }

  &__Input-active {
    border: 1px solid red;
    background-color: rgb(190, 145, 145);

    &:hover,
    &:focus {
      outline: none;
      background-color: rgb(190, 145, 145);
      ;

      @include placeholder() {
        color: black;
      }
    }
  }

  &__contForParams:nth-child(4)>&__Input {
    padding: 10px;
    min-height: 90px;
    overflow: hidden;
  }

  &__button {
    margin: 10px 0 0 0;
    display: flex;
    min-width: 150px;
    min-height: 30px;
    border-radius: 15px;
    border: 2px solid #2754eb;
    font-size: 11px;
    font-family: $mr;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #2754eb;
    outline: none;
    color: #fff;

    &:hover {
      background-color: #1b2958;
      border: 2px solid #1b2958;
    }

    &:active {
      background-color: #01071a;
      border: 2px solid #01071a;
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  background-color: #222328;
  padding: 0 115px;
  box-sizing: border-box;
  flex-direction: column;
}

@include to(850px) {
  .footer {
    padding: 0 20px;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 62px 0;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.507);
  flex-wrap: wrap;

  &__img {
    transition: transform 100ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__ul {
    width: 387px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ali {
    display: flex;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;

    &:hover {
      color: $colgre;
    }

    &:active {
      color: red;
    }
  }

  &__socsety {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    color: #fff;
    font-size: 18px;

    &:hover {
      color: $colgre;
    }

    &:active {
      color: red;
    }
  }

  @include to(850px) {
    &__ul {
      display: none;
    }
  }
}

.foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 62px 0;
  align-items: center;

  &__p {
    width: 511px * 100% / $widthBoby;
    color: #ffffff;
    font-family: $ctr;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    opacity: 0.3;
  }

  &__ul {
    width: 317px * 100% / $widthBoby;
    display: flex;
    justify-content: space-between;
  }

  &__li {
    display: flex;
  }

  &__a {
    display: flex;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;

    &:hover {
      color: $colgre;
    }

    &:active {
      color: red;
    }
  }

  @include to(850px) {
    flex-direction: column;

    &__p {
      width: 80%;
      text-align: center;
    }

    &__ul {
      width: 80%;
      text-align: center;
      margin-top: 20px;
    }
  }
}