<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 0 auto
        }
        .post {
            border-radius: 5px;
            border: 2px solid grey;
            padding: 15px;
            margin-bottom: 10px
        }
        .post-footer {
            text-align: right
        }
        .font-it {
            font-style: italic
        }
        .red {
            color: red
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <h1 @click="" :class="`class${item}`" v-for="item of [1, 2, 3]">{{ item }}</h1> -->
        <label for=""><input type="text" v-model="number"> к-во постов</label>
        <button @click="reload">ok</button>
        <div class="container">
            <div class="post">
                <button @click="fPostShown = !fPostShown">{{ fPostShown ? '-' : '+' }}</button>
                <div class="user">
                    <strong> {{ name }} </strong>
                </div>
                <div v-show="fPostShown">
                    <div class="post-body">
                        <p>
                            {{ body }}
                        </p>
                    </div>
                    <div class="post-footer">
                        <a href="#">{{ email }}</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="all">
                <div class="post" v-for="comment of comments" :key="comment.id">
                    <div class="user">
                        <strong> {{ comment.name }} </strong>
                    </div>
                    <div class="post-body">
                        <p>
                            {{ comment.body }}
                        </p>
                    </div>
                    <div class="post-footer">
                        <a href="#">{{ comment.email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        let app = new Vue ({
            el: '#app',
            data: {
                name: 'Вася',
                body: `Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Optio asperiores iusto blanditiis 
                        labore illum cum nemo architecto saepe natus autem minus eos, 
                        beatae cumque itaque a. Amet nesciunt a laborum.`,
                email: 'lol@lol.rf',
                url: 'https://jsonplaceholder.typicode.com/comments',
                comments: [],
                number: 10,
                fPostShown: true
                // хранилище внутр данных
            },
            methods: {
                // методы
                getComments (url) {
                    return fetch (url)
                            .then (d => d.json ())
                },
                reload () {
                    this.getComments (this.getUrl)
                        .then (data => {
                            this.comments = data
                        })
                }
            },
            computed: {
                getUrl () {
                    return `${this.url}?_limit=${this.number}`
                }
                // вычисляемые значения - как бы "методы", но только возвращающие значения --- Vue смотрит на компьютеды как на данные
            },
            // хуки
            mounted () {
                this.getComments (this.getUrl)
                        .then (data => {
                            this.comments = data
                        })
            }
        })

    </script>
</body>
</html>