* {
    margin: 0;
    padding: 0;
}

.result {
    background-image: linear-gradient( 110.3deg,  rgba(238,179,123,1) 8.7%, rgba(216,103,77,1) 47.5%, rgba(114,43,54,1) 89.1% );
    font-size: 20px;
    margin-left: 400px;
    margin-top: 40px;
    width: 350px;
    height: 70px;
    border-radius: 8px;
    padding: 10px;

}
.h3 {
    font-size: 24px;
    color: darkseagreen;
    margin-top: 100px;
    margin-left: 500px;
}
.parag {
    font-size: 20px;
    color: black;
    margin-top: 50px;
    margin-left: 550px;
    background-image: linear-gradient( 110.3deg,  rgba(238,179,123,1) 8.7%, rgba(216,103,77,1) 47.5%, rgba(114,43,54,1) 89.1% );
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
}
.img {
    margin-top: 30px;
    margin-left: 530px;
}
form {
    margin-top: 40px;
    margin-left: 400px;
}

input {
    margin-left: 50px;

}
fieldset {
    height: 50px;
    width: 500px;
    padding: 20px;
    border: 1px solid palegoldenrod;
    border-radius: 8px;
    font-size: 20px;

}
checkbox {
    margin-right: 5px;
    margin-left: 10px;
}
button {
    background-image: linear-gradient( 110.3deg,  rgba(238,179,123,1) 8.7%, rgba(216,103,77,1) 47.5%, rgba(114,43,54,1) 89.1% );
    margin-top: 30px;
    margin-left: 600px;
    width: 90px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
}
button:hover {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(228,118,0,1) 0%, rgba(247,189,2,1) 90% );
}