node_modules/
Psd/
src/
project/img/
other tasks/img
package-lock.json
gulpfile.js
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/js-second-01-12/v16/.suo
students/.DS_Store

.idea