 students/Alexander Plotnikov/project/img/
 students/Alexander Plotnikov/ather tasks/img/
 node_modules/
 gulpfile.js
 package-lock.json
 .gitattributes
 README.md
 README.txt
 Psd/
 src/
 .vs/ProjectSettings.json
 .vs/slnx.sqlite
 .vs/VSWorkspaceState.json
 .vs/js-second-01-12/v16/.suo
 students/.DS_Store
 .idea