* {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: block;
    text-align: center;
}

.head {
    margin: 50px;
}

input,
textarea {
    text-transform: capitalize;
    width: 200px;
    padding: 5px;
}

textarea {
    margin-top: 20px;
}