<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontawesome-free-5.10.1-web/css/all.min.css">
</head>
<body>
<div id="app">
    <header class="header">
        <h2 class="logo">BrandShop</h2>
        <div class="basket__preview" v-if="state === 'default'" @click="changeState ('edit')">
            <div class="basket__preview_button"><i class="fas fa-shopping-basket"></i>
                <div class="basket__preview_block">
                    <basket-item v-for="item in basket" :shopItem="item" :key="item.id"></basket-item>
                </div>
            </div>
        </div>
    </header>

    <div class="catalog">
        <catalog-item v-for="item in catalog" :catalogItem="item" :key="item.id"></catalog-item>
    </div>

</div>
<script type="text/x-template" id="basket-item-template">
    <div class="basket__item">
        <div class="basket__item_img"></div>
        <p class="basket__item_name">
            {{ shopItem.title }}
        </p>
        <p class="basket__item_quantity">
            {{ shopItem.quantity }}
        </p>
    </div>
</script>
<script type="text/x-template" id="catalog-item-template">
    <div class="catalog__item">
        <div class="catalog__item_img"> </div>
        <div class="catalog__item_name">
            {{ catalogItem.title }}
        </div>
        <div class="catalog__item_price">
            {{ catalogItem.price }}
        </div>
        <div class="quantity">
            <button class="inc" @click="counter > 0 ? counter -= 1 : 0">-</button>
            <span class="quant-text">Quantity: {{ counter }}</span>
            <button class="inc" @click="counter+=1">+</button>
        </div>
        <button class="catalog__item_btn" @click="">Add to cart</button>
    </div>
</script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="components.js"></script>
</body>
</html>