* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7;
}

.header {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  font-size: 18px;
  color: darkmagenta;
  margin-left: 30px;
  margin-top: 20px;
}


.order {
  width: 150px;
  height: 40px;
  background-color: rosybrown;
  font-size: 18px;
  color: white;
  margin-top: 10px;
  margin-left: 50px;
}

.fa-shopping-basket {
  font-size: 30px;
}

.fa-shopping-basket:hover {
  color: darkslategray;
}

.catalog {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 70px;
  margin-top: 180px;
  padding: 50px;
}

.catalog__item {
  width: 250px;
  height: 300px;
  margin: 20px;
  padding: 15px 38px;
  border-radius: .25rem;
  border: 1px solid gray;
}

.catalog__item_name {
  font-weight: bold;
  text-transform: uppercase;
}

.catalog__item_price {
  color: rosybrown;
}

.catalog__item_button {
  border: 1px solid lightgray;
  background-color: white;
  height: 30px;
  width: 100px;
}

.catalog__item_button:hover {
  background-color: coral;
}

.catalog__item_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn {
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid gray;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

.basket {
  margin-left: 800px;
}
.basket__button {
  border: none;
  background-color: #f8f9fa;
}
.basket__info {
  font-size: 10px;
  color: darkgreen;
}
.basket__pay {
  font-size: 14px;
  color: darkgreen;
}

.basket__item {
  width: 60px;
  height: 80px;

}

.basket__item_name {
  font-size: 10px;
}

.basket__item_quantity {
  font-size: 10px;
  border: 1px solid gray;
  width: 15px;
  height: 15px;
  text-align: center;
}

