* {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.head {
    margin-top: 50px;
    text-align: center;
}

.text {
    margin-top: 50px;
}

.replace {
    margin-top: 50px;
    width: 100px;
}