<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css" />
    <link rel="stylesheet" href="style/style.css" />
  </head>

  <body>
    <div id="app">
      <header>
        <div class="logo">E-shop</div>
        <div class="cart">
          <form action="#" class="search-form">
            <input
              type="text"
              class="search-field"
              v-model="searchLine"
              @input="setFilterGoods"
            />
            <button class="btn-search" type="submit" @click="setFilterGoods">
              Q
            </button>
          </form>

          <button
            class="btn-cart"
            type="button"
            v-on:click="cartShow = !cartShow"
          >
            Корзина ({{ qtyGoodsInCart }})
          </button>

          <div class="cart-block" v-if="cartShow">
            <div class="cart-item" data-id="4" v-for="goodInCart in cartList">
              <div class="product-bio">
                <img src="https://placehold.it/100x80" alt="Some image" />
                <div class="product-desc">
                  <p class="product-title">{{ goodInCart.product_name }}</p>
                  <p class="product-quantity">{{ goodInCart.qty }}</p>
                  <p class="product-single-price">
                    {{ goodInCart.price }}
                  </p>
                </div>
              </div>

              <div class="right-block">
                <p class="product-price">
                  {{ goodInCart.qty * goodInCart.price }}
                </p>
                <button
                  class="del-btn"
                  :data-id="goodInCart.id_product"
                  @click="delGoodFromCart"
                >
                  ×
                </button>
              </div>
            </div>
            <p>Полная стоимость: {{ totalPrice }}</p>
          </div>
        </div>
      </header>
      <!--  КАТАЛОГ -->
      <main>
        <div class="products" v-if="dataLoadingStatus">
          <div
            class="product-item"
            :data-id="good.id_product"
            v-for="good in filteredGoods"
          >
            <img src="https://placehold.it/200x150" alt="Some img" />
            <div class="desc">
              <h3>{{ good.product_name }}</h3>
              <p>{{ good.price }} $</p>
              <button
                class="buy-btn"
                :data-id="good.id_product"
                :data-name="good.product_name"
                data-image="https://placehold.it/200x150"
                :data-price="good.price"
                @click="addGoodToCart"
              >
                Купить
              </button>
            </div>
          </div>
        </div>
        <div class="products" v-else="dataLoadingStatus">
          <p>Товары не найдены.</p>
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
      // Объект с данными
      const data = {
        doodListURL:
          "https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/catalogData.json",
        goodList: [],
        filteredGoods: [],
        cartList: [],
        dataLoadingStatus: false,
        cartShow: false,
        searchLine: ""
      };

      const vue = new Vue({
        el: "#app",
        data: data,

        computed: {
          totalPrice: function() {
            let total = 0;
            this.cartList.forEach(function(val) {
              total += val.price * val.qty;
            });
            return total;
          },

          qtyGoodsInCart: function() {
            let qty = 0;
            this.cartList.forEach(function(val) {
              qty += val.qty;
            });
            return qty;
          }
        },

        methods: {
          // Загрузка каталога
          fetchGoods: function(url) {
            fetch(url)
              .then(function(d) {
                return d.json();
              })
              .then(function(d) {
                data.goodList = d;
                data.filteredGoods = [...data.goodList];
                data.dataLoadingStatus = true;
                console.log("Goods list download");
              });
          },
          // Удаление товара из корзины / уменьшение количества товара в корзине
          delGoodFromCart: function(event) {
            this.cartList.forEach(function(item, index) {
              if (item.id_product === +event.target.dataset.id) {
                item.qty--;
                if (+item.qty === 0) {
                  data.cartList.splice(index, 1);
                }
              }
            });
          },
          // Добавление товар в корзину / увеличение количества товара в корзине
          addGoodToCart: function(event) {
            const goodId = +event.target.dataset.id;
            let checkGoodInCart = false;
            const indexInList = this.goodList.findIndex(function(value) {
              return value.id_product === goodId;
            });
            const indexInCart = this.cartList.findIndex(function(value) {
              return value.id_product === goodId;
            });

            if (indexInCart === -1) {
              let goodToAdd = { ...this.goodList[indexInList], qty: 1 };
              this.cartList.push(goodToAdd);
            } else {
              this.cartList[indexInCart].qty++;
            }
          },
          //Фильрация каталога
          setFilterGoods: function() {
            let reg = new RegExp(this.searchLine, "gi");

            let arr = this.goodList.filter(function(val, index, arr) {
              return reg.test(arr[index].product_name);
            });

            this.filteredGoods = [...arr];
          }
        },

        created() {
          this.fetchGoods(this.doodListURL);
        }
      });
    </script>
  </body>
</html>
